:root {
    --text-color: #EDF2F4;
    --accent-color: #EF233C;
    --background-color: black;
    --primary-color: #d3d4d6;
    --shadow-color: #4142426b;
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    background-color: var(--background-color);
}
/* ---------- header ---------- */
#nav h1 {
    color: var(--text-color);
    font-size: 1.5rem;
}

h1 span {
    font-size: 1.7rem;
}
#logo-letter {
    color: var(--accent-color);
}

#nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    transition: color 0.3s ease;
    position: relative;
}

nav ul li a::after {
    background-color: var(--accent-color);
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -10px;
    left: 0;
}
nav ul li a:hover::after {
    width:100%;
    transition: width 0.5s ease;
}

#header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
    opacity: 0.3;
}
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    text-align: center;
}
#hero-content {
    
    color: var(--text-color);
    font-size: 2rem;
}
#profession {
    color: var(--accent-color);
    font-size: 4rem;
}

@media screen and (max-width: 768px) { 
    nav ul {
    display: none;   
    }
    #hero-content {
        font-size: 20px;
    }
    #profession {
        font-size: 30px;
    }
    #about img {
        width: 60%;
    }

    
}
/* ------------about section------------ */
#main {
    margin: 0 10%;
}
#about {
    margin-top: 20px;
    color: var(--text-color);
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#about h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
#about p {
    font-size: 1.5rem;
    line-height: 1.6;
}
#about-content{
    width: 35%;
    margin: 0 auto;
}
#about img {
    width: 40%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(43, 42, 42, 0.2);
    margin-bottom: 20px;
    opacity: 0.8;
}
#about img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {
    #about {
        flex-direction: column;
        align-items: center;
    }
    #about img {
        width: 80%;
        margin: 20px 0;
    }
    #about-content {
        width: 100%;
    }
    #about h2 {
        font-size: 28px;
    }
    #about p {
        font-size: 16px;
    }
    
}
/* ------------about-lists section------------ */
#about-lists {
    display: flex;
    justify-content: space-between;
    margin: 20px 10%;
    color: var(--text-color);
}
#about-lists h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    position: relative;
}
#about-lists h3::after {
    background-color: var(--accent-color);
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -10px;
    left: 0;
}
#about-lists ul {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
}

.about-list li i{
    font-size: 0.9rem;;
}
#education-list {
    width: 40%;
}
.education-item {
    margin-bottom: 10px;
    padding: 10px;
    border: var(--shadow-color) 1px solid;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--shadow-color);
    width: 100%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

}
#experience-list {
    width: 55%;
}
#experience-list ul{
    display: flex;
    flex-wrap: wrap;
}
.experience-item {
    margin-bottom: 10px;
    padding: 10px;
    border: var(--shadow-color) 1px solid;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--shadow-color);
    width: 100%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
    #about-lists {
        flex-direction: column;
        align-items: center;
    }
    #about-lists h3 {
        font-size: 1.5rem;
    }
    #about-lists ul {
        font-size: 1rem;
    }
    #education-list, #experience-list {
        width: 100%;
    }
    .education-item, .experience-item {
        width: 100%;
    }
    
}